* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap: 17px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
}

.api-image {
  width: 100%;
  margin-top: 40px;
}

.image {
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
}

.Top-Text {
  position: absolute;
  top: 15%;
  color: white;
  left: 40%;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

.Bottom-Text {
  position: absolute;
  left: 40%;
  color: white;
  bottom: 10%;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}
